<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__left-content">
                <div class="page-footer__logo">
                    <img src="img/footer-logo.svg" alt="">
                </div>
                <div class="d-none d-md-block page-footer__content-info">
                    <p>ДРПП. Реєстр нерухомості. <br>
                        2020 Всі права захищені</p>
                </div>
            </div>
            <div class="page-footer__right-content">
                <div class="page-footer__personal-data">
                    <a href="#">Обробка персональних даних</a>
                </div>
                <div class="d-md-none page-footer__content-info">
                    <p>ДРПП. Реєстр нерухомості. <br>
                        2020 Всі права захищені</p>
                </div>
            </div>
        </div>
    </div>
</footer>